@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    margin: 0;
    background-image: url(Imagens/science-fiction-gb2b40052a_1920.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

p{
    font-family: 'Poppins', sans-serif;
}



/* header com logo e menu */

.navbar {
    display: flex;
    float: right;
    /* border: 1px solid red; */
    width: 85%;
    margin-left: 55%;
}

.header .navbar li {
    font-family: 'Poppins', sans-serif;
    justify-content: space-around;
    color: white;
    display: flex;
    float: left;
    padding-left: 50px;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: white;
}

p{
    text-align: center;
}

.container {
    background-color: rgba(0, 0, 0, 0.671);
    justify-content: space-around;
    /* border: solid 1px yellow; */
    width: 100%;
    margin: auto;
    height: 50px;
}

.header .container {
    display: flex;
    justify-content: space-between;
}


.header .logo img {
    position: absolute;
    left: 50px;
    top: 4px;
    /* border: solid 1px red; */
    width: 40px;
    height: 40px;
}

.header p {
    position: absolute;
    left: 100px;
    font-size: 12pt;
    font-weight: 700;
    color: white;
}

/* Fim do Header */

/* Banner Incial */


.banner {
    background-color: rgba(0, 0, 0, 0.301);
    /* border: 1px solid red; */
    padding: 40px 0;
    height: 550px;
}
   
.banner .conteiner {
    position: absolute;
    right: 480px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* border: solid 1px red; */
    width: 300px;
    height: 300px;

}

.conteiner span {
    color: white;
    font-weight: 800;
}

.conteiner p {
    color: rgb(72, 115, 235);
    font-size: 36px;
}

/* Fim Banner Inicial */

/* Banner Exploração espacial */

.exploracao {
    background-color: rgb(0, 0, 0);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    /* border: 1px solid red; */
    height: 500px;
}

.exploracao h1{
    position: absolute;
    top: 550px;
    left: 300px;
}
   
.exploracao .conteiner {
    background-image: url(Imagens/mars-g21336a0c6_1920.jpg);
    background-size: cover;
    position: absolute;
    right: 750px; 
    display: flex;
    align-items: center;
    flex-direction: column;
    /* border: solid 1px red; */
    width: 545px;
    height: 400px;
    margin-top: 50px;
}


.exploracao .texto{
    font-size: x-large;
    position: absolute;
    right: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: solid 1px red; */
    width: 690px;
    height: 450px; 
}

/* Fim Banner exploração espacial */


/* Banner missões */


.exploracoes{
    height: 510px;
}

.exploracoes p{
    color: white;
    font-weight: 700;
    font-size: medium;
    
}

.exploracoes img{
    width: 150px;
    height: 150px;
}
.exploracoes .conteiner{ 
    text-align: center;
    color: white;
    /* border: 1px solid red; */
    height: 660px;
}

.exploracoes h1{
    margin-top: 50px;
    margin-right: 100px;
    display: flex;
    float: right;
}

.exploracoes .missoes{ 
    background-color: rgba(0, 0, 0, 0.493);
    justify-content: space-around;
    display: flex;
    float: right;
    /* border: 1px solid red; */
    margin-top: 50px;
    margin-right: 60px;
    width: 90%;
    height: 50%;
}

.exploracoes .gagarin{
    margin-top: 25px;
   background-image:url(Imagens/planeta.jpg);
   background-size: cover;
    padding: 40px 0 ;
    /* border: 1px solid red; */
    width: 25%;
    height: 60%;  
    border-radius: 10px;
}

.exploracoes .armstrong{
    background-image:url(Imagens/lua.jpg);
   background-size: cover;
    margin-top: 25px;
    background-color: rgb(211, 211, 211);
    padding: 40px 0 ;
    /* border: 1px solid red; */
    width: 25%;
    height: 60%;  
    border-radius: 10px;
}

.exploracoes .rover{
    background-image:url(Imagens/mars-g303f8fecb_1280.png);
    background-size: cover;
    margin-top: 25px;
    background-color: rgb(211, 211, 211);
    padding: 40px 0 ;
    /* border: 1px solid red; */
    width: 25%;
    height: 60%;  
    border-radius: 10px;
}

/* Fim banner missões */


/* Conteiner explicação sobre exploração espacial */
.explicacao p{
    margin-top: 100px;
    color: white;
    font-size: x-large;
}

.explicacao h1{
margin-top: 10px;
font-size: x-large;
}
.explicacao{
    margin-top: 150px;
    background-color: black;
    color: white;
    /* border: 1px red solid; */
    padding-bottom: 10px;
    width: 100%;
    height: 300px;
}

/* Fim Conteiner Expliação sobre exploração espacial */

/* Banner Conclusão */

.conclusao{
flex-direction: column;

}

.conclusao .conteiner {
    color: white;
    /* border: 1px solid red; */
    padding: 40px 0;
    height: 550px;
}

.conclusao .conteiner p{
    color: white;
    font-size: larger;
}

.conclusao h1{
margin-top: 150px;
}

.conclusao button{
    background-color: rgb(13, 13, 87);
    -webkit-text-stroke: white 1px;
    color: rgb(13, 13, 87);
    font-size: 15pt;
    border-radius: 5px;
    width: 100px;
    height: 50px;
}

/* Fim Banner Conclusão */

/* Footer */
.footer{
    display: flex;
    float: left;
    justify-content: center;
    color: white;
    /* border: 1px red solid; */
    background-color: rgba(0, 0, 0, 0.897);
    width: 100%;
    height: 130px;
}

.footer p{
    font-family: 'Poppins', sans-serif;
}

/* Fim footer */


