body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url(Imagens/milky-way-g29451a502_1920.jpg);
}


/* header com logo e menu */

.navbar {
    display: flex;
    float: right;
    border: 1px solid red; 
    width: 80%;
    margin-left: 30%;
}

.header .navbar li {
    justify-content: space-around;
    color: white;
    display: flex;
    float: left;
    padding-left: 50px;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    background-color: black;
    justify-content: space-around;
    /* border: solid 1px yellow; */
    width: 100%;
    margin: auto;
    height: 50px;
}

.header .container {
    display: flex;
    justify-content: space-between;
}


.header .logo img {
    position: absolute;
    left: 50px;
    top: 4px;
    /* border: solid 1px red; */
    width: 40px;
    height: 40px;
}

.header p {
    position: absolute;
    left: 100px;
    font-size: 12pt;
    font-weight: 700;
    color: white;
}

.usuario .conteiner{
    background-image: url(Imagens/science-fiction-gb2b40052a_1920.jpg);
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    width: 230px;
    height: 606px;
    color: white;
}

.foto{
    background-image: url(Imagens/smiling-ge21deea24_1920.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 50px;
    /* border: 1px solid red; */
    width: 150px;
    height: 150px;
    border-radius: 100px;
}

.bemvindo{
    position: absolute;
    top: 300px;
}
.perfil{
    position: absolute;
    top: 350px;
}

.banner {
    position: absolute;
    bottom: 15px;
     /* border: 1px solid red;   */
    margin-left: 220px;
    padding: 40px 0;
    height: 500px;
    width: 83%;
}

 .foto1{
    margin-top: 20px;
    margin-left: 20px;
    background-image: url(Imagens/smiling-ge21deea24_1920.jpg);
    width: 50px;
    height: 50px;
}

.post{
    background-color: rgb(36, 36, 70);
     /* border: 1px red solid;  */
    border-radius: 5px;
    margin-left: 50px;
    margin-bottom: 20px;
    width: 90%;
    height: 100px;
}

#comentario{
    margin-top: 10px;
    margin-left: 100px;
    width: 88%;
    height: 70px;
}

.seusposts{
   background-image: url(Imagens/science-fiction-gb2b40052a_1920.jpg);
   background-size: cover;
    /* border: 1px red solid;  */
    border-radius: 5px;
    margin-left: 50px;
    width: 90%;
    height: 430px;  
    padding-top: 1px;
}

.seusposts .post{
    background-color: rgb(36, 36, 70);
    /* border: 1px red solid;  */
   border-radius: 5px;
   margin-left: 30px;
   margin-bottom: 20px;
   width: 95%;
   height: 100px;
}

.seusposts h2{
    -webkit-text-stroke: rgb(43, 47, 71) 1px;
     color: white; 
    margin-left: 15px;
  
}