body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url(Imagens/milky-way-g29451a502_1920.jpg);
}


/* header com logo e menu */

.navbar {
    display: flex;
    float: right;
    /* border: 1px solid red; */
    width: 80%;
    margin-left: 30%;
}

.header .navbar li {
    justify-content: space-around;
    color: white;
    display: flex;
    float: left;
    padding-left: 50px;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    background-color: black;
    justify-content: space-around;
    /* border: solid 1px yellow; */
    width: 100%;
    margin: auto;
    height: 50px;
}

.header .container {
    display: flex;
    justify-content: space-between;
}


.header .logo img {
    position: absolute;
    left: 50px;
    top: 4px;
    /* border: solid 1px red; */
    width: 40px;
    height: 40px;
}

.header p {
    position: absolute;
    left: 100px;
    font-size: 12pt;
    font-weight: 700;
    color: white;
}

.usuario .conteiner {
    background-image: url(Imagens/science-fiction-gb2b40052a_1920.jpg);
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    width: 230px;
    height: 960px;
    color: white;
}

.foto {
    background-image: url(Imagens/smiling-ge21deea24_1920.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 50px;
    /* border: 1px solid red; */
    width: 150px;
    height: 150px;
    border-radius: 100px;
}

.bemvindo {
    position: absolute;
    top: 300px;
}

.perfil {
    position: absolute;
    top: 350px;
}

.banner {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 15px;
     /* border: 1px solid red;    */
    margin-left: 220px;
    padding: 40px 0;
    height: 500px;
    width: 83%;
}

.foto1 {
    margin-top: 20px;
    margin-left: 20px;
    background-image: url(Imagens/smiling-ge21deea24_1920.jpg);
    width: 50px;
    height: 50px;
}


.seusposts {
    background-image: url(Imagens/science-fiction-gb2b40052a_1920.jpg);
    background-size: cover;
    /* border: 1px red solid;  */
    border-radius: 5px;
    width: 80%;
    height: 900px;
    padding-top: 1px;
}

.avisos {
    margin-left: 100px;
    width: 70%;
    height: 150px;
    /* border: 3px solid pink; */
    color: rgb(216, 216, 216);
    font-family: "Exo 2", sans-serif;
}


.avisos .container .div-form {
    /* border: 1px rgb(18, 165, 158) solid; */
    width: 100%;
}

.avisos .container .div-form #form_postagem {
    width: 80%;
}

.avisos .div-form label {
    width: 100%;
}

.avisos .div-form input {
    width: 100%;
    border-radius: 5px;
}

.avisos .div-form textarea {
    width: 100%;
    /* color: #E6005A; */
    border: 3px solid #e6005a;
    background-color: white;
    border-radius: 5px;
}

.avisos .div-form button {
    cursor: pointer;
    font-family: "Exo 2", sans-serif;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 15px;
    color: white;
    background-color: #e6005a;
    width: 120px;
}

.publicacao-btn-editar {
    cursor: pointer;
    font-family: "Exo 2", sans-serif;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    padding: 5px 8px;
    color: white;
    background-color: #e6005a;
    width: 80px;
}

.publicacao {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    border-bottom: 3px solid #e6005a;
    padding: 10px;
}

.publicacao>*:not(:last-child) {
    padding: 0 0 10px 0;
}

.div-results {
    width: 100%;
}

.div-results .feed-container {
    background-color: #212124;
    border-radius: 5px;
    /* border: 1px red solid; */
    margin-bottom: 30px;
    height: 400px;
    width: 100%;
}

.div-buttons {
    display: flex;
    justify-content: flex-end;
}

.div-buttons>* {
    margin-left: 30px;
}